[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2.8"
django-active-link = "*"
djangorestframework = "*"
pillow = "*"
gunicorn = "*"
xlsxwriter = "*"
django-admin-rangefilter = "*"
django-imagekit = "*"
python-dotenv = "*"
pytest-django = "*"
coverage = "*"
uvicorn = {extras = ["standard"], version = "*"}
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]
