{% extends 'core/base.html' %}
{% load static %} {% load humanize %} {% load query_utils %}

{% block og_title %}Donaciones - Rendición de Donaciones COVID-19{% endblock %}
{% block og_description %}
  En esta sección podés acceder datos de las donaciones recibidas tales como fecha, nombre, N° de comprobante
  del depósito, N° de recibo y el monto. A la derecha de la pantalla vas a ver el monto total de las donaciones
  recibidas y además tenés la opción de filtrar los datos y descargar esa selección o completamente el data set
  en Excel o JSON.
{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
{% endblock %}


{% block title %}
  Donaciones | {{ block.super }}
{% endblock %}

{% block content %}
  {% include 'core/partials/navbar.html' %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Donaciones</li>
      </ol>
    </nav>
    <h2 class="mt-0">Donaciones Recibidas</h2>
    <div class="row">
      <div class="col-md-6">
        <p>En esta sección podés acceder datos de las donaciones recibidas tales como fecha, nombre, N° de comprobante
          del depósito, N° de recibo y el monto. A la derecha de la pantalla vas a ver el monto total de las donaciones
          recibidas y además tenés la opción de filtrar los datos y descargar esa selección o completamente el data set
          en Excel o JSON.</p>
      </div>
      <div class="col-md-6">
        <div class="d-flex align-items-center justify-content-center flex-column my-4 resumen-nros">
          <div class="monto">Gs. {{ total_donaciones|floatformat:0|intcomma }}</div>
          {% if filtered %}
            <div class="desc mb-4">Total Donaciones según filtros</div>
          {% else %}
            <div class="desc mb-4">Total Donaciones Recibidas</div>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-8 order-1 order-md-0 mt-2 mb-3 my-md-0">
        <div class="h-100 d-flex justify-content-center justify-content-md-start align-items-end">
          <small>Total de items encontrados: {{ view.object_list.count }}</small>
        </div>
      </div>
      <div
        class="col-md-4 mt-2 mt-md-0 d-flex align-items-md-end justify-content-center justify-content-md-end order-0 order-md-1">
        <button type="button" data-toggle="collapse" data-target="#filtros" class="btn btn-secondary" id="filtrosBtn">
          <span class="w-100 d-flex align-items-center justify-content-between">
            <span>Filtros</span>
            <i class="icon-chevron-down" id="filtrosArrow"></i>
          </span>
        </button>
      </div>
    </div> <!-- row -->
    <div class="collapse" id="filtros">
      <div class="card card-body">
        <form>
          <div class="row">
            <div class="col-sm-4 col-12">
              <div class="form-group">
                <label class="form-label" for="donante">Donante</label>
                <input type="text" class="form-control form-control-sm" id="donante" name="donante"
                       {% if request.GET.donante %}value="{{ request.GET.donante }}"{% endif %}>
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <div class="form-group" id="fecha">
                <fieldset>
                  <legend class="form-label">Fecha</legend>
                  <input type="text" class="form-control form-control-sm fecha mb-1" name="fecha_desde"
                         placeholder="Desde" data-provide="datepicker" {% if request.GET.fecha_desde %}
                         value="{{ request.GET.fecha_desde }}"{% endif %}>
                  <input type="text" class="form-control form-control-sm fecha mt-1" name="fecha_hasta"
                         placeholder="Hasta" data-provide="datepicker"
                         {% if request.GET.monto_hasta %}value="{{ request.GET.fecha_hasta }}"{% endif %}>
                </fieldset>
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <fieldset>
                <legend class="form-label">Monto</legend>
                <input type="text" class="form-control form-control-sm mb-1" name="monto_desde" placeholder="Desde"
                       {% if request.GET.monto_desde %}value="{{ request.GET.monto_desde }}"{% endif %}>
                <input type="text" class="form-control form-control-sm my-1" name="monto_hasta" placeholder="Hasta"
                       {% if request.GET.fecha_hasta %}value="{{ request.GET.monto_hasta }}"{% endif %}>
              </fieldset>
            </div>
          </div>
          <div class="w-100 d-flex justify-content-center justify-content-md-end mt-3">
            <button type="submit" class="btn btn-primary">Aplicar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="table-responsive tabla">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">
            Fecha
            <div class="float-right">
              {% if orden == 'fecha' %}
                <a href="{% url 'core:donaciones' %}?{% query_transform request orden='-fecha' %}">
                  <i class="icon-sort-asc"></i>
                </a>
              {% elif orden == '-fecha' %}
                <a href="{% url 'core:donaciones' %}?{% query_transform request orden='' %}">
                  <i class="icon-sort-desc"></i>
                </a>
              {% else %}
                <a href="{% url 'core:donaciones' %}?{% query_transform request orden='fecha' %}">
                  <i class="icon-sort"></i>
                </a>
              {% endif %}
            </div>
          </th>
          <th scope="col">
            Donante
            <div class="float-right">
              {% if orden == 'donante' %}
                <a href="{% url 'core:donaciones' %}?{% query_transform request orden='-donante' %}">
                  <i class="icon-sort-asc"></i>
                </a>
              {% elif orden == '-donante' %}
                <a href="{% url 'core:donaciones' %}?{% query_transform request orden='' %}">
                  <i class="icon-sort-desc"></i>
                </a>
              {% else %}
                <a href="{% url 'core:donaciones' %}?{% query_transform request orden='donante' %}">
                  <i class="icon-sort"></i>
                </a>
              {% endif %}
            </div>
          </th>
          {#          <th scope="col">Cuenta Nro.</th>#}
          <th scope="col">Comprobante Nro.</th>
          <th class="text-nowrap" scope="col">Recibo Nro.</th>
          <th scope="col">
            Monto Gs.
            <div class="float-right">
              {% if orden == 'monto' %}
                <a href="{% url 'core:donaciones' %}?{% query_transform request orden='-monto' %}">
                  <i class="icon-sort-asc"></i>
                </a>
              {% elif orden == '-monto' %}
                <a href="{% url 'core:donaciones' %}?{% query_transform request orden='' %}">
                  <i class="icon-sort-desc"></i>
                </a>
              {% else %}
                <a href="{% url 'core:donaciones' %}?{% query_transform request orden='monto' %}">
                  <i class="icon-sort"></i>
                </a>
              {% endif %}
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        {% for donacion in donaciones %}
          <tr>
            <td>{{ donacion.fecha|date:'j/m/Y' }}</td>
            {% if donacion.es_anonimo %}
              <td>Información obrante en el CIRD*</td>
            {% else %}
              <td>{{ donacion.donante }}</td>
            {% endif %}
            {#            <td>{{ donacion.cuenta }}</td>#}
            <td class="text-nowrap">{{ donacion.nro_comprobante }}</td>
            {% if donacion.recibo_nro %}
              <td>{{ donacion.recibo_nro|intcomma }}</td>
            {% else %}
              <td></td>
            {% endif %}
            <td class="text-right text-nowrap">{{ donacion.get_monto_pyg|floatformat:0|intcomma }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div> <!-- table-responsive -->
    <div class="row mb-4">
      <div class="col-md-3">
        <small>
          *Esta información queda íntegramente en los registros de la Fundación CIRD, expresamente a pedido de la
          persona donante pero al mismo tiempo accesible a todos los Organismos del Estado para su debido control como
          se menciona según <a href="http://bacn.gov.py/archivos/9156/DECRETO3506%20ESTADO%20DE%20EMERGENCIA%20(1).pdf"
                               target="_blank">Decreto Presidencial N° 3.506/20</a>. Si desea resguardar su información,
          comunicarse al correo <a href="mailto:cird@cird.org.py">cird@cird.org.py</a> o al 021 662 063.
        </small>
      </div>
      <div class="col-md-6">
        {% if is_paginated %}
          <div class="w-100 mx-auto">
            <div class="text-center">
              {% include 'core/partials/paginator.html' with ruta='core:donaciones' %}
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-md-3">
        <div class="d-flex align-items-start justify-content-end">
          {% include 'core/partials/dropdown.html' with text='Descargar' excel='core:donaciones-excel' json='core:donaciones-json' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'locales/bootstrap-datepicker.es.min.js' %}"></script>
  <script>
      $('#fecha').datepicker({
          inputs: $('.fecha'),
          disableTouchKeyboard: true,
          format: 'dd/mm/yyyy',
          language: 'es',
          endDate: '{% now 'd/m/Y' %}'
      });
  </script>
  <script>
      let showFiltros = false;
      $('#filtrosBtn').click(function (event) {
          showFiltros = !showFiltros;
          if (showFiltros) {
              $('#filtrosArrow').addClass('icon-chevron-up').removeClass('icon-chevron-down');
          } else {
              $('#filtrosArrow').addClass('icon-chevron-down').removeClass('icon-chevron-up');
          }
      })
  </script>
{% endblock %}