{% load static %}
<footer class="mt-4 mt-md-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-7 d-flex d-md-block justify-content-center flex-column">
        <div class="logos-apoyo d-flex align-items-top">
          <div>
            <p>Apoya:</p>
            <a href="https://www.cird.org.py/econaranja/" target="_blank">
              <img class="logo-naranja" src="{% static 'img/eco_naranja_logo.png' %}" alt="Economía Naranja">
            </a>
          </div>
{#          <div class="vertical-divider"></div>#}
{#          <div>#}
{#            <p>Auspicia:</p>#}
{#            <a href="https://todosporparaguay.org/" target="_blank">#}
{#              <img class="logo-todos-por-py" src="{% static 'img/todos-por-paraguay.png' %}" alt="Todos Por Paraguay">#}
{#            </a>#}
{#            <a href="http://gobiernoabierto.gov.py/" target="_blank">#}
{#              <img class="logo-gob-abierto" src="{% static 'img/gob_abierto_logo.png' %}" alt="Gobierno Abierto Paraguayo">#}
{#            </a>#}
{#          </div>#}
        </div>
      </div>
      <div class="col-md-6 col-lg-5 mt-5 mt-md-0 d-flex align-items-end">
        <div>
          <h5><strong>Fundación CIRD</strong></h5>
          <p><strong>Dirección:</strong> Ruy Díaz de Melgarejo 825 c/<br> Hernando de Rivera, Bº Los Laureles.</p>
          <p><strong>Codigo Postal:</strong> 001415</p>
          <p><strong>Telefono-Fax:</strong> +595 (21) 662063 (R.A.)</p>
          <p><strong>Email:</strong> <a href="mailto:cird@cird.org.py">cird@cird.org.py</a></p>
          <p class="social-networks">
            <a href="https://www.facebook.com/Fundaci%C3%B3n-CIRD-110257495679751/" target="_blank">
              <i class="icon-facebook"></i>
            </a>
            <a href="https://twitter.com/cirdcapacita" target="_blank">
              <i class="icon-twitter"></i>
            </a>
            <a href="https://www.instagram.com/fundacioncird/" target="_blank">
              <i class="icon-instagram"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>