{% load static %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-7 d-flex d-md-block justify-content-center flex-column">
        <span class="mb-4 d-block">Con el apoyo de</span>
        <div class="logos-apoyo">
          <a href="https://civilab.org.py/">
            <img class="logo-civilab" src="{% static 'img/civilab_logo.png' %}" alt="Civilab">
          </a>
          <a href="https://www.cird.org.py/econaranja/">
            <img class="logo-naranja" src="{% static 'img/eco_naranja_logo.png' %}" alt="Economía Naranja">
          </a>
          <a href="http://gobiernoabierto.gov.py/">
            <img class="logo-gob-abierto" src="{% static 'img/gob_abierto_logo.png' %}" alt="Gobierno Abierto Paraguayo">
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 mt-5 mt-md-0 d-flex align-items-end">
        <div>
          <h5><strong>Fundación CIRD</strong></h5>
          <p><strong>Dirección:</strong> Ruy Díaz de Melgarejo 825 c/<br> Hernando de Rivera, Bº Los Laureles.</p>
          <p><strong>Codigo Postal:</strong> 001415</p>
          <p><strong>Telefono-Fax:</strong> +595 (21) 662063 (R.A.)</p>
          <p><strong>Email:</strong> <a href="mailto:cird@cird.org.py">cird@cird.org.py</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>