{% load static %}
<div class="py-logos">
  <div
    class="container h-100 d-flex align-content-between align-content-md-center justify-content-between flex-wrap"
  >
    <a class="logo" href="https://www.cird.org.py/" target="_blank">
      <img
        src="{% static 'img/cird_logo.png' %}"
        alt="CIRD - Centro de Información y Recursos para el Desarrollo"
        class="img-fluid cird"
      />
    </a>
    <a class="logo" href="https://todosporparaguay.org/" target="_blank">
      <img
        src="{% static 'img/todos-por-paraguay.png' %}"
        alt="Todos por Paraguay"
        class="img-fluid todos-py"
      />
    </a>
  </div>
</div>
