{% load static %}
<div class="py-logos">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3 d-flex align-items-center justify-content-center">
        <img src="{% static 'img/min_salud_logo.png' %}" alt="Ministerio de Salud Pública y Bienestar Social"
         class="img-fluid mspbs">
      </div>
      <div class="col-6 col-md-3 d-flex align-items-center justify-content-center">
        <img src="{% static 'img/gobierno_nacional_logo.png' %}" alt="Gobierno Nacional" class="img-fluid gob-nac">
      </div>
      <div class="col-6 col-md-3 d-flex align-items-center justify-content-center mt-3 mt-md-0">
        <img src="{% static 'img/py_gente_logo.png' %}" alt="Paraguay de la Gente" class="img-fluid py-gente">
      </div>
      <div class="col-6 col-md-3 d-flex align-items-center justify-content-center mt-3 mt-md-0">
        <img src="{% static 'img/cird_logo.png' %}" alt="CIRD - Centro de Información y Recursos para el Desarrollo"
         class="img-fluid cird">
      </div>
    </div>
  </div>
</div>